.Borders {
  border: 10px solid green;
}
/* table in page 2- hover/child/ */
table {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}

tr:nth-child(even) {
  background-color: rgb(185, 185, 185);
}
tr:hover {
  background-color: gray;
  border: solid black;
}
/* made 325 px to make it cleaner/neater */
.every-odd li:nth-child(odd) {
  background-color: green;
  width: 325px;
}
.greensuper {
  font-size: x-large;
  color: green;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 400px;
}

.Header {
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.borders2 {
  border: dotted black;
}
