.BG {
  background-color: green;
  color: white;
}

.Borders {
  border: 3px solid black;
}

.th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}

.tr:nth-child(even) {
  background-color: rgb(185, 185, 185);
}
.tr:hover {
  background-color: gray;
}
